# editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 8
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.txt]
indent_style = space

[*.md]
trim_trailing_whitespace = false

[configure.ac]
end_of_line = lf
