[submodule "extern/cppformat"]
	path = extern/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "extern/ffmpeg-git"]
	path = extern/ffmpeg-git
	url = git://source.ffmpeg.org/ffmpeg.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
