[submodule "extern/cppformat"]
	path = extern/cppformat
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/ffmpeg-git"]
	path = extern/ffmpeg-git
	url = https://github.com/stepmania/ffmpeg.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/stepmania/googletest.git
[submodule "extern/tomcrypt"]
	path = extern/tomcrypt
	url = https://github.com/stepmania/libtomcrypt.git
[submodule "extern/tommath"]
	path = extern/tommath
	url = https://github.com/stepmania/libtommath.git
[submodule "extern/libogg-git"]
	path = extern/libogg-git
	url = https://github.com/stepmania/ogg.git
[submodule "extern/libvorbis-git"]
	path = extern/libvorbis-git
	url = https://github.com/stepmania/vorbis.git
