# Traditional Compilation File Stuff.
*.o
*.obj

# Text Editor Based Items
___*
*~
*.log
*.sublime-project
*.sublime-workspace
*.old

# Repository Files
*.orig
.git
.hg
.hgignore
.hgtags
.svn
.cvsignore
*.diff
*.patch

# Mac Programming Files
*.pbxuser
PBProject/build
Xcode/build
Xcode/*.xcodeproj/xcuserdata/
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
*.xcscheme
WorkspaceSettings.xcsettings
UserInterfaceState.xcuserstate
*.xccheckout
contents.xcworkspacedata
xcschememanagement.plist
PBProject/Hardware.plist
lib*_link.a

# Mac General Files
*.app
*.dmg
.DS_Store

# Visual Studio
*.pdb
*.sdf
*.opensdf
*.suo
*.exp
*.ilk

# Windows General Files
Thumbs.db
*.exe
*.dll
nsis_strings_temp.inc

# Linux General Files
.dirstamp
Makefile
stepmania
Makefile.in
config.status
_build/*
aclocal.m4
autoconf/*
autom4te.cache/*
configure
src/Makefile.in
src/Makefile
src/config.h
src/config.h.in
src/stamp-h1
GtkModule.so

# StepMania Specific
*.smzip
ver.cpp
Cache/
Save/
Logs/
Songs/*
Screenshots/
portable.ini
Docs/doxygen
Data/UserPrefs
Data/uPrefs
Data/GamePrefs/*.cfg
Data/Static.ini
Themes/pump
Themes/pump-*
Themes/optical-release
Themes/moonlight
Themes/ultralight
Themes/test
src/version.bin
src/verstub.cpp
bundle/ffmpeg/.config
bundle/ffmpeg/.version
bundle/ffmpeg/config.*
bundle/ffmpeg/doc/config.texi
bundle/ffmpeg/libavutil/avconfig.h
bundle/ffmpeg/version.h
bundle/ffmpeg/*/*.so
bundle/ffmpeg/*/*.so.*
bundle/ffmpeg/*/*.ver
bundle/ffmpeg/*/*.def
bundle/ffmpeg/*/*.orig.def
bundle/ffmpeg/*/*.dll.a
bundle/ffmpeg/*/*.lib
src/build-*
src/Release-*
src/libtomcrypt/build-*
src/libtomcrypt/Release-*
src/libtomcrypt/Debug
src/libtommath/build-*
src/libtommath/Release-*
src/libtommath/Debug
src/*.a
src/*.so
ffmpeg-*
Data/SpeedMods.txt
crashinfo.txt
Utils/temp*
Program/StepMania*.lib

# Unknown File Types
*.dia
.deps
*.rej
tests/*.err
*.ncb
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.dep
*.idb
*.user
*.mode1v3
*.vdi
*.lnk
BuildLog.htm
*.pch
*.swp
*.pc
*.d
