
[Desktop Entry]
Encoding=UTF-8
Name=StepMania
GenericName=Rhythm and dance game
TryExec=stepmania
Exec=stepmania
Terminal=false
Icon=stepmania-ssc
Type=Application
Categories=Application;Game;ArcadeGame
Comment=A cross-platform rhythm video game.
