/* reset css v1.0 | 20080212 from http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	margin: 0.1em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css *************************************************************/

body{
	line-height: normal;
	margin-left:1em;
	margin-right:1em;
}

hr{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

ul {
	list-style: disc;
	margin-left:2em;
}

p{
	margin-bottom:0.2em;
	margin-top:0.2em;
}

h1{
	font-size:2em;
}

h2{
	font-size:1.5em;
}

h3{
	font-size:1.25em;
}

h4{
	font-size:1.125em;
}

h5{
	font-size:1.075em;
}

a:hover{
	color: #F80;
}

ins {
	background-color: #0A0;
	color: #FFF;
	padding: 0.05em;
}

#tocDiv{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #DDD;
	padding: 0.25em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

#pretocList{
	list-style: lower-roman outside;
	padding: 0 0 0 35px;
}

ol{
	list-style: decimal outside;
}

ul{
	list-style-type: disc;
}

ol.tocList{
	padding: 0 0 0 35px;
}

#logoDiv{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#footer{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}