# Usage
#
# GETPATH:ID:PATH
# ID - An identification string passed to the installer.
# PATH - The variable name into which the returned path is saved.
#
# SETVAR:VAR:ARG1[:ARG2 ...] - Only while installing.
# VAR - The variable into which the concatinated arguments are placed.
# ARG# - All arguments are resolved and concatinated to form the VAR. 
#
# MKDIR:PATH - Only while installing.
# PATH - The resolved path
#
# RM:PATH - Only while installing
# PATH - Remove the resolved PATH.
#
# CD:PATH:COND
# PATH - Change directory to the resolved PATH if COND is true.
# COND - Condition. Useful with the $INSTALLING variable.
#
# FILE:PATH:COND - Install the file
# PATH - The file's path.
# COND - If true, overwrite the file
#
# LABEL:LABEL - Only while installing.
# LABEL - The section's name.
#
# GOTO:LABEL - Only while installing.
# LABEL - The name of the section where processing is to continue.
#
# RETURN:NUM - Only while installing.
#  - Return to the section NUM sections before the last GOTO command.
#
# IF:COND:LABEL1:LABEL2 - Only while installing.
# COND - If true, GOTO LABEL1, if false, GOTO LABEL2.
# LABEL# - The name of the sections. Leave blank to continue execution.
#
# ASK:VAR:QUESTION - Only while installing
# VAR - Where the response is saved.
# QUESTION - Ask the user a yes or no question, if yes, VAR will be set
#            to true. Otherwise, VAR will be set to false.

# Some are missing but I don't feel like adding them now


#Get the install path
GETPATH:install path:PATH
CD:$PATH:YES

#Create the directory
MKDIR:StepMania
CD:StepMania:$INSTALLING

#Ignore the CVS directories
IGNORE:CVS

#Privileges are not needed
PRIVILEGED:

#Install the files
FILE:Announcers/instructions.txt:OVERWRITE
FILE:BGAnimations/instructions.txt:OVERWRITE
FILE:CDTitles/instructions.txt:OVERWRITE
RM:Characters/default
FILE:Characters/default:OVERWRITE
#FILE:Characters/instructions.txt:OVERWRITE
FILE:Courses/instructions.txt:OVERWRITE
FILE:Courses/Samples:OVERWRITE
FILE:Packages/instructions.txt:OVERWRITE
RM:NoteSkins/common/default
RM:NoteSkins/dance/MAX
RM:NoteSkins/dance/default
RM:NoteSkins/dance/flat
RM:NoteSkins/dance/note
RM:NoteSkins/dance/solo
FILE:NoteSkins/instructions.txt:OVERWRITE
FILE:NoteSkins/common/default:OVERWRITE
FILE:NoteSkins/dance/default:OVERWRITE
FILE:NoteSkins/dance/flat:OVERWRITE
FILE:NoteSkins/dance/note:OVERWRITE
FILE:NoteSkins/dance/solo:OVERWRITE
FILE:NoteSkins/pump/Classic:OVERWRITE
FILE:NoteSkins/pump/default:OVERWRITE
FILE:RandomMovies/instructions.txt:OVERWRITE
FILE:Songs/instructions.txt:OVERWRITE
RM:Themes/default
FILE:Themes/instructions.txt:OVERWRITE
FILE:Themes/default:OVERWRITE
FILE:Visualizations/instructions.txt:OVERWRITE
FILE:Data/Translation.dat:OVERWRITE
FILE:Data/AI.ini:OVERWRITE
FILE:Data/Unlocks.dat:OVERWRITE
FILE:Data/splash.png:OVERWRITE
FILE:COPYING.txt:OVERWRITE
FILE:README-FIRST.html:OVERWRITE
FILE:NEWS:OVERWRITE
FILE:StepMania.app:OVERWRITE

#This needs to be at the very end of the file barring comments
LABEL:END

# Written by Steve Checkoway for StepMania
