# Usage
#
# GETPATH:ID:PATH
# ID - An identification string passed to the installer.
# PATH - The variable name into which the returned path is saved.
#
# SETVAR:VAR:ARG1[:ARG2 ...] - Only while installing.
# VAR - The variable into which the concatinated arguments are placed.
# ARG# - All arguments are resolved and concatinated to form the VAR. 
#
# MKDIR:PATH - Only while installing.
# PATH - The resolved path
#
# RM:PATH - Only while installing
# PATH - Remove the resolved PATH.
#
# CD:PATH:COND
# PATH - Change directory to the resolved PATH if COND is true.
# COND - Condition. Useful with the $INSTALLING variable.
#
# FILE:PATH:COND - Install the file
# PATH - The file's path.
# COND - If true, overwrite otherwise go with whichever is newer.
#
# LABEL:LABEL - Only while installing.
# LABEL - The section's name.
#
# GOTO:LABEL - Only while installing.
# LABEL - The name of the section where processing is to continue.
#
# RETURN - Only while installing.
#  - Return to the section before the last GOTO command.
#
# IF:COND:LABEL1:LABEL2 - Only while installing.
# COND - If true, GOTO LABEL1, if false, GOTO LABEL2.
# LABEL# - The name of the sections. Leave blank to continue execution.
#
# ASK:VAR:QUESTION - Only while installing
# VAR - Where the response is saved.
# QUESTION - Ask the user a yes or no question, if yes, VAR will be set
#            to true. Otherwise, VAR will be set to false.


#Get the install path
GETPATH:install path:PATH
CD:$PATH:YES

#Create the directory
MKDIR:StepMania
CD:StepMania:$INSTALLING

#Install the files
FILE:Announcers/instructions.txt:OVERWRITE
FILE:BGAnimations/instructions.txt:OVERWRITE
FILE:CDTitles/instructions.txt:OVERWRITE
FILE:Characters/instructions.txt:OVERWRITE
FILE:NoteSkins/common/default:
FILE:NoteSkins/dance/default:
FILE:NoteSkins/dance/flat:
FILE:NoteSkins/dance/note:
FILE:NoteSkins/dance/solo:
FILE:NoteSkins/pump/Classic:
FILE:NoteSkins/pump/default:
FILE:RandomMovies/instructions.txt:OVERWRITE
FILE:Songs/instructions.txt:OVERWRITE
RM:Themes/default
FILE:Themes/instructions.txt:OVERWRITE
FILE:Themes/default:
FILE:Data/Translation.dat:OVERWRITE
FILE:Data/AI.ini:OVERWRITE
FILE:Data/Unlocks.dat:
FILE:Data/VideoCardDefaults.ini:OVERWRITE
FILE:Data/splash.bmp:
FILE:COPYING.txt:OVERWRITE
FILE:README-FIRST.html:OVERWRITE
FILE:NEWS:OVERWRITE
FILE:StepMania.app:OVERWRITE

#Ask the user to install libaries
ASK:INSTALL_LIBS:Would you like to install the the necessary libraries to run StepMania? If you have already installed them, choose "No"
IF:$INSTALL_LIBS:LIBS:END
#nothing else for now
GOTO:END

LABEL:LIBS
#aquire superuser privs
#install the files

RETURN


#this needs to be at the very end of the file barring comments
LABEL:END

# Written by Steve Checkoway for StepMania
