# Usage
#
# GETPATH:ID:PATH
# ID - An identification string passed to the installer.
# PATH - The variable name into which the returned path is saved.
#
# SETVAR:VAR:ARG1[:ARG2 ...] - Only while installing.
# VAR - The variable into which the concatinated arguments are placed.
# ARG# - All arguments are resolved and concatinated to form the VAR. 
#
# MKDIR:PATH - Only while installing.
# PATH - The resolved path
#
# RM:PATH - Only while installing
# PATH - Remove the resolved PATH.
#
# CD:PATH:COND
# PATH - Change directory to the resolved PATH if COND is true.
# COND - Condition. Useful with the $INSTALLING variable.
#
# FILE:PATH:COND - Install the file
# PATH - The file's path.
# COND - If true, overwrite the file
#
# LABEL:LABEL - Only while installing.
# LABEL - The section's name.
#
# GOTO:LABEL - Only while installing.
# LABEL - The name of the section where processing is to continue.
#
# RETURN:NUM - Only while installing.
#  - Return to the section NUM sections before the last GOTO command.
#
# IF:COND:LABEL1:LABEL2 - Only while installing.
# COND - If true, GOTO LABEL1, if false, GOTO LABEL2.
# LABEL# - The name of the sections. Leave blank to continue execution.
#
# ASK:VAR:QUESTION - Only while installing
# VAR - Where the response is saved.
# QUESTION - Ask the user a yes or no question, if yes, VAR will be set
#            to true. Otherwise, VAR will be set to false.

# Some are missing but I don't feel like adding them now


#Get the install path
GETPATH:install path:PATH
CD:$PATH:YES

#Create the directory
MKDIR:StepMania
CD:StepMania:$INSTALLING

#Ignore the CVS directories
IGNORE:CVS

#Privileges are not needed
PRIVILEGED:

#Install the files
FILE:Announcers/instructions.txt:OVERWRITE
FILE:BGAnimations/instructions.txt:OVERWRITE
FILE:CDTitles/instructions.txt:OVERWRITE
RM:Characters/default
FILE:Characters/default:OVERWRITE
#FILE:Characters/instructions.txt:OVERWRITE
FILE:Courses/instructions.txt:OVERWRITE
FILE:Courses/Samples:OVERWRITE
RM:NoteSkins/common/default
RM:NoteSkins/dance/MAX
RM:NoteSkins/dance/default
RM:NoteSkins/dance/flat
RM:NoteSkins/dance/note
RM:NoteSkins/dance/solo
FILE:NoteSkins/common/default:OVERWRITE
FILE:NoteSkins/dance/default:OVERWRITE
FILE:NoteSkins/dance/flat:OVERWRITE
FILE:NoteSkins/dance/note:OVERWRITE
FILE:NoteSkins/dance/solo:OVERWRITE
FILE:NoteSkins/pump/Classic:OVERWRITE
FILE:NoteSkins/pump/default:OVERWRITE
FILE:RandomMovies/instructions.txt:OVERWRITE
FILE:Songs/instructions.txt:OVERWRITE
RM:Themes/default
FILE:Themes/instructions.txt:OVERWRITE
FILE:Themes/default:OVERWRITE
FILE:Visualizations/instructions.txt:OVERWRITE
FILE:Data/Translation.dat:OVERWRITE
FILE:Data/AI.ini:OVERWRITE
FILE:Data/Unlocks.dat:OVERWRITE
FILE:Data/splash.bmp:OVERWRITE
FILE:COPYING.txt:OVERWRITE
FILE:README-FIRST.html:OVERWRITE
FILE:NEWS:OVERWRITE
FILE:StepMania.app:OVERWRITE
FILE:/usr/bin/atos:

#Ask the user to install libaries
ASK:INSTALL_LIBS:Would you like to install the necessary libraries to run StepMania? If you have already installed them, choose "No".
#ASK:INSTALL_LIBS:Would you like to install the necessary libraries to run StepMania? There are new versions of libraries to be installed. Choosing "Yes" is recommended.
IF:$INSTALL_LIBS:LIBS:END
#nothing else for now
GOTO:END

LABEL:LIBS
AUTH:DID_AUTH
IF:$DID_AUTH::AUTH_FAILED

ASK:OVERWRITE:Do you want to overwrite any files you already have? If you choose "No," only new files will be installed.

#install files that require privs
PRIVILEGED:TRUE
ECHO:Installing library files.:

#binaries
FILE:/usr/local/bin/cjpeg:$OVERWRITE
FILE:/usr/local/bin/djpeg:$OVERWRITE
FILE:/usr/local/bin/jpegtran:$OVERWRITE
FILE:/usr/local/bin/libpng-config:$OVERWRITE
FILE:/usr/local/bin/libpng12-config:$OVERWRITE
FILE:/usr/local/bin/rdjpgcom:$OVERWRITE
FILE:/usr/local/bin/sdl-config:$OVERWRITE
FILE:/usr/local/bin/wrjpgcom:$OVERWRITE
#libraries
FILE:/usr/local/lib/libSDL-1.2.0.0.6.dylib:$OVERWRITE
FILE:/usr/local/lib/libSDL-1.2.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libSDL.a:$OVERWRITE
FILE:/usr/local/lib/libSDL.dylib:$OVERWRITE
FILE:/usr/local/lib/libSDL.la:$OVERWRITE
FILE:/usr/local/lib/libSDL_image-1.2.0.1.2.dylib:$OVERWRITE
FILE:/usr/local/lib/libSDL_image-1.2.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libSDL_image.a:$OVERWRITE
FILE:/usr/local/lib/libSDL_image.dylib:$OVERWRITE
FILE:/usr/local/lib/libSDL_image.la:$OVERWRITE
FILE:/usr/local/lib/libSDLmain.a:$OVERWRITE
FILE:/usr/local/lib/libjpeg.62.0.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libjpeg.la:$OVERWRITE
FILE:/usr/local/lib/libjpeg.a:$OVERWRITE
FILE:/usr/local/lib/libmad.0.2.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libmad.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libmad.a:$OVERWRITE
FILE:/usr/local/lib/libmad.dylib:$OVERWRITE
FILE:/usr/local/lib/libmad.la:$OVERWRITE
FILE:/usr/local/lib/libogg.0.4.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libogg.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libogg.a:$OVERWRITE
FILE:/usr/local/lib/libogg.dylib:$OVERWRITE
FILE:/usr/local/lib/libogg.la:$OVERWRITE
FILE:/usr/local/lib/libpng.3.1.2.5.dylib:$OVERWRITE
FILE:/usr/local/lib/libpng.a:$OVERWRITE
FILE:/usr/local/lib/libpng12.0.1.2.5.dylib:$OVERWRITE
FILE:/usr/local/lib/libpng12.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libpng12.a:$OVERWRITE
FILE:/usr/local/lib/libpng12.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbis.0.2.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbis.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbis.a:$OVERWRITE
FILE:/usr/local/lib/libvorbis.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbis.la:$OVERWRITE
FILE:/usr/local/lib/libvorbisenc.2.0.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbisenc.2.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbisenc.a:$OVERWRITE
FILE:/usr/local/lib/libvorbisenc.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbisenc.la:$OVERWRITE
FILE:/usr/local/lib/libvorbisfile.3.0.0.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbisfile.3.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbisfile.a:$OVERWRITE
FILE:/usr/local/lib/libvorbisfile.dylib:$OVERWRITE
FILE:/usr/local/lib/libvorbisfile.la:$OVERWRITE
FILE:/usr/local/lib/libz.a:$OVERWRITE
FILE:/usr/local/lib/pkgconfig/libpng.pc:$OVERWRITE
FILE:/usr/local/lib/pkgconfig/libpng12.pc:$OVERWRITE
#Frameworks
FILE:/System/Library/Frameworks/SDL.framework:$OVERWRITE
FILE:/System/Library/Frameworks/SDL_image.framework:$OVERWRITE

ASK:DEV:Do you want to install the developer files including header files and man pages. Note, this is only needed for StepMania Developers.
IF:$DEV:DOCS:
RETURN:1

LABEL:DOCS
#headers
FILE:/usr/local/include/SDL:$OVERWRITE
FILE:/usr/local/include/jconfig.h:$OVERWRITE
FILE:/usr/local/include/jpeglib.h:$OVERWRITE
FILE:/usr/local/include/jmorecfg.h:$OVERWRITE
FILE:/usr/local/include/jerror.h:$OVERWRITE
FILE:/usr/local/include/libpng:$OVERWRITE
FILE:/usr/local/include/libpng12/png.h:$OVERWRITE
FILE:/usr/local/include/libpng12/pngconf.h:$OVERWRITE
FILE:/usr/local/include/mad.h:$OVERWRITE
FILE:/usr/local/include/ogg/config_types.h:$OVERWRITE
FILE:/usr/local/include/ogg/ogg.h:$OVERWRITE
FILE:/usr/local/include/ogg/os_types.h:$OVERWRITE
FILE:/usr/local/include/png.h:$OVERWRITE
FILE:/usr/local/include/pngconf.h:$OVERWRITE
FILE:/usr/local/include/vorbis/codec.h:$OVERWRITE
FILE:/usr/local/include/vorbis/vorbisenc.h:$OVERWRITE
FILE:/usr/local/include/vorbis/vorbisfile.h:$OVERWRITE
FILE:/usr/local/include/zconf.h:$OVERWRITE
FILE:/usr/local/include/zlib.h:$OVERWRITE
#man files
FILE:/usr/local/man/man1/cjpeg.1:$OVERWRITE
FILE:/usr/local/man/man1/djpeg.1:$OVERWRITE
FILE:/usr/local/man/man1/jpegtran.1:$OVERWRITE
FILE:/usr/local/man/man1/rdjpgcom.1:$OVERWRITE
FILE:/usr/local/man/man1/wrjpgcom.1:$OVERWRITE
FILE:/usr/local/man/man3/SDLKey.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ActiveEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_AddTimer.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_AudioCVT.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_AudioSpec.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_BlitSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_BuildAudioCVT.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CD.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDClose.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDEject.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDName.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDNumDrives.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDOpen.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDPause.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDPlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDPlayTracks.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDResume.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDStatus.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDStop.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CDtrack.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CloseAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Color.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CondBroadcast.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CondSignal.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CondWait.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CondWaitTimeout.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ConvertAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ConvertSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateCond.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateCursor.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateMutex.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateRGBSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateRGBSurfaceFrom.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateSemaphore.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateThread.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_CreateYUVOverlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Delay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_DestroyCond.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_DestroyMutex.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_DestroySemaphore.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_DisplayFormat.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_DisplayFormatAlpha.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_DisplayYUVOverlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_EnableKeyRepeat.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_EnableUNICODE.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Event.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_EventState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ExposeEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_FillRect.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Flip.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_FreeCursor.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_FreeSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_FreeWAV.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_FreeYUVOverlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GL_GetAttribute.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GL_GetProcAddress.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GL_LoadLibrary.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GL_SetAttribute.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GL_SwapBuffers.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GLattr.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetAppState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetAudioStatus.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetClipRect.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetCursor.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetError.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetEventFilter.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetGamma.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetGammaRamp.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetKeyName.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetKeyState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetModState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetMouseState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetRGB.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetRGBA.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetRelativeMouseState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetThreadID.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetTicks.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetVideoInfo.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_GetVideoSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Init.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_InitSubSystem.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoyAxisEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoyBallEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoyButtonEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoyHatEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickClose.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickEventState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickGetAxis.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickGetBall.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickGetButton.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickGetHat.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickIndex.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickName.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickNumAxes.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickNumBalls.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickNumButtons.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickNumHats.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickOpen.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickOpened.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_JoystickUpdate.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_KeyboardEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_KillThread.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ListModes.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_LoadBMP.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_LoadWAV.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_LockAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_LockSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_LockYUVOverlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_MapRGB.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_MapRGBA.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_MixAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_MouseButtonEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_MouseMotionEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_NumJoysticks.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_OpenAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Overlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Palette.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_PauseAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_PeepEvents.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_PixelFormat.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_PollEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_PumpEvents.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_PushEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Quit.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_QuitEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_QuitSubSystem.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_RWFromFile.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Rect.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_RemoveTimer.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ResizeEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SaveBMP.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SemPost.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SemTryWait.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SemValue.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SemWait.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SemWaitTimeout.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetAlpha.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetClipRect.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetColorKey.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetColors.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetCursor.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetEventFilter.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetGamma.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetGammaRamp.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetModState.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetPalette.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetTimer.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SetVideoMode.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ShowCursor.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_Surface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_SysWMEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_ThreadID.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_UnlockAudio.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_UnlockSurface.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_UnlockYUVOverlay.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_UpdateRect.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_UpdateRects.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_UserEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_VideoDriverName.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_VideoInfo.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_VideoModeOK.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WM_GetCaption.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WM_GrabInput.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WM_IconifyWindow.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WM_SetCaption.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WM_SetIcon.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WM_ToggleFullScreen.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WaitEvent.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WaitThread.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WarpMouse.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_WasInit.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_keysym.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_mutexP.3:$OVERWRITE
FILE:/usr/local/man/man3/SDL_mutexV.3:$OVERWRITE
FILE:/usr/local/man/man3/libpng.3:$OVERWRITE
FILE:/usr/local/man/man3/libpngpf.3:$OVERWRITE
FILE:/usr/local/man/man5/png.5:$OVERWRITE
#m4
FILE:/usr/local/share/aclocal/ogg.m4:$OVERWRITE
FILE:/usr/local/share/aclocal/sdl.m4:$OVERWRITE
FILE:/usr/local/share/aclocal/vorbis.m4:$OVERWRITE
#docs
FILE:/usr/local/share/doc/libogg-1.0/framing.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/index.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/bitpacking.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/datastructures.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/decoding.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/encoding.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/general.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/index.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_packet.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_packet_clear.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_bos.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_checksum_set.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_continued.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_eos.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_granulepos.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_packets.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_pageno.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_serialno.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_page_version.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_clear.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_destroy.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_eos.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_flush.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_init.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_packetin.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_packetout.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_pagein.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_pageout.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_reset.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_stream_state.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_buffer.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_clear.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_destroy.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_init.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_pageout.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_pageseek.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_reset.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_state.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/ogg_sync_wrote.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_adv.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_adv1.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_bits.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_buffer.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_bytes.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_get_buffer.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_look.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_look1.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_read.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_read1.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_readinit.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_reset.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_write.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_writeclear.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/oggpack_writeinit.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/overview.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/reference.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/style.css:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/vorbis_comment.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/ogg/vorbis_info.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/oggstream.html:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/stream.png:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/white-ogg.png:$OVERWRITE
FILE:/usr/local/share/doc/libogg-1.0/white-xifish.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/components.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/draft-moffitt-vorbis-rtp-00.txt:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/eightphase.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/evenlsp.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/floor1-1.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/floor1-2.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/floor1-3.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/floor1-4.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/floor1_inverse_dB_table.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/floorval.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/fourphase.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/framing.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/helper.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/hufftree-under.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/hufftree.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/index.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/lspmap.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/oddlsp.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/oggstream.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/programming.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/residue-pack.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/residue2.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/squarepolar.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/stereo.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/stream.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/v-comment.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-clip.txt:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-errors.txt:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-fidelity.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-ogg.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-bitpack.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-codebook.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-floor0.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-floor1.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-intro.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-ref.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis-spec-res.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbis.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/index.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/overview.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/reference.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/style.css:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/vorbis_encode_ctl.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/vorbis_encode_init.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/vorbis_encode_init_vbr.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisenc/vorbis_info.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/OggVorbis_File.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/chaining_example_c.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/chainingexample.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/datastructures.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/decoding.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/example.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/exampleindex.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/fileinfo.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/index.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/initialization.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_bitrate.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_bitrate_instant.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_callbacks.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_clear.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_comment.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_info.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_open.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_open_callbacks.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_pcm_seek.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_pcm_tell.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_pcm_total.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_raw_seek.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_raw_tell.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_raw_total.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_read.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_read_float.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_seekable.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_serialnumber.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_streams.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_test.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_test_callbacks.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_test_open.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_time_seek.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_time_tell.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/ov_time_total.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/overview.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/reference.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/seekexample.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/seeking.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/seeking_test_c.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/seekingexample.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/style.css:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/vorbis_comment.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/vorbis_info.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisfile/vorbisfile_example_c.html:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/vorbisword2.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/wait.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/white-ogg.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/white-xifish.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/window1.png:$OVERWRITE
FILE:/usr/local/share/doc/libvorbis-1.0/window2.png:$OVERWRITE

PRIVILEGED:
RETURN:1

LABEL:AUTH_FAILED
ECHO:Could not install library files because authentication failed.:LOUD
RETURN:2

#this needs to be at the very end of the file barring comments
LABEL:END

# Written by Steve Checkoway for StepMania
